@media(max-width: 1250px) {
    .wrap{
        width: 90%;
        margin: 0px auto;
    }
    .banner h1{
        width: 100%;
        font-size: 35px;
        text-align: center;
        margin: 33px auto;
    }
    .card {
        width: 17%;
        margin: 1%;
    }
    .card p{
        display: block;
        width: 90%;
        margin: 0px auto;
        text-align: center;
    }

    .articles{
        width: 65%;
    }

    .articles article{
        width: 97%;
    }

    .footer .wrap> div{
        width: 24%;
        
    }

    .footer .browesers img{
        width: 14%;
    }

    .footer h5{
        font-size: 30px;
    }
}

@media (max-width: 1080px){
    .card .category{
        font-size: 17px;
    }
    
    .card .description{
        font-size: 14px;
    }

    .articles {
        width: 61%;
    }
}

@media (max-width: 970px) {
    .articles{
        width: 59%;
    }

    .footer h5{
        font-size: 22px;
    }
    .footer .wrap > div{
        width:  25%;
        margin: 20px;
    }
}

@media (max-width: 924px) {
    .aside{
        width: 25%;
    }
    .articles{
        width: 65%;
    }

    .aside input[type="text"]{
        width: 75%;
    }
    .aside-box{
        width: 95%;
        height: auto;
        min-height: 140px;
        padding-bottom: 10px;
    }

    .login a{
        margin-top: 10px;
        margin-bottom: 10px;
    }


    .login input[type="email"], 
    .login input[type="password"]{
        width: 65%;
    }

    .login .user,
    .login .password{
        margin-left: 24px;

    }

    .login input[type="submit"],
    .login input[type="button"],
    .login input[type="reset"],
    .login button{
        margin-bottom: 0px;
    }

    .login input[type="reset"]{
        display: none;
    }

    
}

@media (max-width: 924px) {
    .aside h3 {
        font-size: 20px;
    }
}

@media (max-width: 830px) {
    .banner h1{
       font-size: 25px; 
    }
    .aside h3 {
        font-size: 15px;
    }
    .card .description{
        display: none;
    }
    .card{
        height: auto;
    }

    .card .category{
        font-size: 15px ;
        margin-top: -23px;
    }

    .footer img{
        margin-bottom: 15px;
        min-width: 100%;
    }
}

@media (max-width: 724px) {
    .header{
        width: 100%;
        height: 120px ;
        padding-top: 10px;
    }

    .menu{
        width: 440px;
        clear: both;
        float: right;
        width: 90%;
        margin: 0px auto;
        margin-left: 6%;
    }
    .logo{
        float: none;
        width: 200px;  
        margin: 0px auto;        
    }
    
    .aside input[type="text"]{
        width: 70%;
    }
}

@media (max-width: 660px) {
    .banner h1{
         font-size: 25px;
    }
    .login input[type="email"],
    .login input[type="password"]
    {
        width: 89%;
    }   

    .aside{
        float: none;
        width: 100%;
        margin: 0px auto ;
        min-height: auto;
        margin-top: 20px;
    }
    .aside input[type="text"]{
        width: 90%;
    }

    .articles{
        
        float: none;
        width: 100%;
        margin: 0px auto;
        min-height: auto;

    }
    .footer{
        height: auto;
        padding-bottom: 40px;
    }
    .footer .wrap > div{
        width: 100%;
        margin: 0px auto;
        margin-top: 20px;
    }

    .footer h5{
        font-size: 25px;
    }

    .footer .browesers img{
        min-width: none;
    }
}

@media (max-width: 475px) {
    .menu{
        width: 440px;
        float: right;
        
    }

   
    .banner{
        height: 85PX;
    }

    .banner h1{
        font-size: 18px;
    }

    .aside{
        float: none;
        width: 100%;
        margin: 0px auto;
        min-height: auto;
        margin-top: 20px;
    }

    .aside input[type="text"]{
        width: 90%;
    }
    .card .icon{
        font-size: 25px;
    }
    .card:hover .icon{
        font-size: 25px;
    }

    .card .category{
        font-size: 13px;
    }
  
    .footer .browesers img{
        min-width: none;
    }

}